@import "tailwindcss";

@theme {
  --color-navy-900: #0a192f;
  --color-navy-800: #112240;
  --color-gold-400: #EAB308;
  --color-gold-500: #CA8A04;
  --color-teal-400: #2DD4BF;
  --color-teal-500: #14B8A6;
  --color-teal-600: #0D9488;
  --color-cream-50: #FDFBF7;
  --color-cream-100: #F5F5F4;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}
